@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#FFFDF8;

overflow:hidden;

}

.background-circle{

position:absolute;

border-radius:50%;

filter:blur(80px);

opacity:.4;

}

.one{

width:300px;
height:300px;

background:#FFD966;

top:-80px;
left:-60px;

}

.two{

width:350px;
height:350px;

background:#D9C2FF;

right:-80px;

bottom:-80px;

}

.three{

width:200px;
height:200px;

background:#FFE4F2;

top:45%;

left:45%;

transform:translate(-50%,-50%);

}

.container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.card{

width:430px;

background:white;

border-radius:30px;

padding:50px;

text-align:center;

box-shadow:

0 15px 45px rgba(0,0,0,.08);

animation:pop .7s ease;

}

@keyframes pop{

0%{

transform:scale(.8);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}

.logo{

width:110px;

height:110px;

margin:auto;

border-radius:50%;

background:linear-gradient(135deg,#FFD54F,#B388FF);

display:flex;

justify-content:center;

align-items:center;

margin-bottom:25px;

}

.logo i{

font-size:50px;

color:white;

}

h1{

font-size:45px;

color:#6A4FB6;

margin-bottom:10px;

}

.subtitle{

color:#777;

font-size:18px;

margin-bottom:40px;

}

.btn{

display:flex;

justify-content:center;

align-items:center;

gap:12px;

width:100%;

padding:18px;

border-radius:15px;

text-decoration:none;

font-size:20px;

font-weight:600;

transition:.3s;

margin-bottom:18px;

}

.play{

background:#FFD54F;

color:#444;

}

.play:hover{

transform:translateY(-5px);

box-shadow:0 12px 25px rgba(255,213,79,.5);

}

.leaderboard{

background:#B388FF;

color:white;

}

.leaderboard:hover{

transform:translateY(-5px);

box-shadow:0 12px 25px rgba(179,136,255,.5);

}

@media(max-width:500px){

.card{

width:100%;

padding:35px;

}

h1{

font-size:36px;

}

.btn{

font-size:18px;

}

}